/*This size or smaller*/
header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowap;
      flex-wrap: nowap;
}

@media screen and (max-width: 450px) {
  header h1 {
    font-size: 1.5rem;
  }
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
}

@media screen and (max-width: 768px) {
  .home {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .home {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.home img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 95%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  padding: 0.5rem;
}

@media screen and (max-width: 450px) {
  .home img {
    padding: 0.2rem;
  }
}

.home__text {
  padding: 0.5rem 1.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 768px) {
  .home__text {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .home__text {
    padding: 0.2rem;
  }
}

.home__text__title h2 {
  font-size: 1.8rem;
  margin: 0;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 768px) {
  .home__text__title h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 450px) {
  .home__text__title h2 {
    font-size: 0.8rem;
  }
}

.home__text__title p {
  margin: 0;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 768px) {
  .home__text__title p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .home__text__title p {
    font-size: 0.6rem;
  }
}

.home__text__date p {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .home__text__date p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .home__text__date p {
    font-size: 0.5rem;
  }
}

.home__extra {
  padding: 0.5rem;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 1450px) {
  .home__extra {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(10px, auto);
    margin: 0;
  }
}

.home__extra__unit {
  margin: 0;
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home__extra__unit ul {
  margin: 0.5rem;
  padding-left: 1rem;
  list-style: outside;
}

@media screen and (max-width: 1450px) {
  .home__extra__unit ul {
    margin: 0;
  }
}

.home__extra__unit ul li {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
}

@media screen and (max-width: 1450px) {
  .home__extra__unit ul li {
    min-height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home__extra__unit ul li {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .home__extra__unit ul li {
    font-size: 0.6rem;
  }
}

.galleryBox {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 768px) {
  .galleryBox {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, 200px);
  }
}

@media screen and (max-width: 450px) {
  .galleryBox {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
  }
}

.galleryBox .gallery {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 450px) {
  .galleryBox .gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, 100px);
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 7;
    height: auto;
  }
}

.galleryBox .gallery__unit {
  max-width: 100%;
  max-height: 100%;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, 100px);
}

@media screen and (max-width: 768px) {
  .galleryBox .gallery__unit {
    grid-auto-rows: minmax(50px, 90px);
    padding: 0.7rem;
  }
}

@media screen and (max-width: 450px) {
  .galleryBox .gallery__unit {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, 100px);
    height: auto;
  }
}

.galleryBox .gallery__unit img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 450px) {
  .galleryBox .gallery__unit img {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
}

.galleryBox .gallery__unit__text {
  height: 100%;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
}

@media screen and (max-width: 450px) {
  .galleryBox .gallery__unit__text {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    padding: 0.2rem 0.5rem;
  }
}

.galleryBox .gallery__unit__text__title h2 {
  margin: 0.1rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .galleryBox .gallery__unit__text__title h2 {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .galleryBox .gallery__unit__text__title h2 {
    font-size: 0.6rem;
  }
}

.galleryBox .gallery__unit__text__title p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .galleryBox .gallery__unit__text__title p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 450px) {
  .galleryBox .gallery__unit__text__title p {
    display: none;
  }
}

.galleryBox .gallery__unit__text__date p {
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  .galleryBox .gallery__unit__text__date p {
    font-size: 0.5rem;
  }
}

.extraNews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
}

@media screen and (max-width: 768px) {
  .extraNews {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(30px, auto);
  }
}

.extraNews__unit {
  max-width: 100%;
  height: auto;
  padding: 0.5rem;
  margin: 0;
}

.extraNews__unit img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.extraNews__unit__text__title h2 {
  margin: 0;
  font-size: 1.1rem;
}

@media screen and (max-width: 450px) {
  .extraNews__unit__text__title h2 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 768px) {
  .extraNews__unit__text__title h2 {
    font-size: 0.8rem;
  }
}

.extraNews__unit__text__date p {
  font-size: 1rem;
}

@media screen and (max-width: 450px) {
  .extraNews__unit__text__date p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .extraNews__unit__text__date p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 768px) {
  .extraNews__unit__1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 768px) {
  .extraNews__unit__2 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 768px) {
  .extraNews__unit__3 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 768px) {
  .extraNews__unit__4 img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .extraNews__unit__4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 768px) {
  .extraNews__unit__5 img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .extraNews__unit__5 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
}

.features__title {
  padding: 0.5rem;
  margin: 0;
}

.features__title h3 {
  font-size: 1.5rem;
  position: relative;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .features__title h3 {
    font-size: 1.1rem;
  }
}

.features__title h3 span {
  background-color: white;
  padding-right: 10px;
}

.features__title h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid black;
  z-index: -1;
}

.features__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
}

@media screen and (max-width: 768px) {
  .features__content {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(30px, auto);
  }
}

.features__content__unit {
  max-width: 100%;
  height: auto;
  padding: 0.5rem;
  margin: 0;
}

.features__content__unit img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__content__unit__text__title h2 {
  margin: 0;
  font-size: 1.1rem;
}

@media screen and (max-width: 450px) {
  .features__content__unit__text__title h2 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 768px) {
  .features__content__unit__text__title h2 {
    font-size: 0.8rem;
  }
}

.features__content__unit__text__date p {
  font-size: 1rem;
}

@media screen and (max-width: 450px) {
  .features__content__unit__text__date p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .features__content__unit__text__date p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 768px) {
  .features__content__unit__1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 768px) {
  .features__content__unit__2 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 768px) {
  .features__content__unit__3 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 7;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 768px) {
  .features__content__unit__4 img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .features__content__unit__4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 768px) {
  .features__content__unit__5 img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .features__content__unit__5 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 450px) {
  body {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */